

<h3>Using hc-pick-options</h3>
<br>
<!-- todo add form controls for some of these various inputs -->
<hc-picklist2
    [(ngModel)]="selectedCars"
    autofocus
    [externalTotalOptionCount]="300"
    [hasSearch]="false"
    [readonly]="false"
    [leftPaneLoading]="false"
    [rightPaneLoading]="false"
    [maxSelectedItems]="3"
    [hasHeader]="false"
    [hasToolbar]="false"
    [hasFooter]="false"
    height="300px"
    searchPlaceholder="Search for cars"
    notFoundText="Nothing to see here.">
    <hc-pick-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">{{car.name}}<strong>hi</strong></hc-pick-option>
    <hc-pick-option [value]="'custom'">Custom</hc-pick-option>
</hc-picklist2>

<br>

<button type="button" class="btn btn-secondary btn-sm" (click)="toggleDisabled()">Toggle disabled option (Saab)</button>


<br/>Selected car IDs: {{selectedCars | json}}
