

<h3>Templates</h3>
<br>

<hc-picklist2
    [items]="animals"
    bindLabel="name"
    [formControl]="selected"
    [searchFn]="customSearchFn"
    [addCustomItem]="true"
    groupBy="type">

    <!-- Left Pane Header -->
    <ng-template hc-pane-header-left-tmp>
        <div class="custom-header">
            <div class="header-text"><span class="fa-paw"></span>Available Animals</div>
            <span class="template-callout">This is a custom header template for the left pane.</span>
        </div>
    </ng-template>

    <!-- Right Pane Header -->
    <ng-template hc-pane-header-right-tmp>
        <div class="custom-header">
            <div class="header-text"><span class="fa-paw"></span>Selected Animals</div>
            <span class="template-callout">This is a custom header template for the right pane.</span>
        </div>
    </ng-template>
    
    <!-- Pane Toolbar -->
    <ng-template hc-pane-toolbar-tmp let-itemsList="itemsList" let-searchTerm="searchTerm">
        <span class="template-callout">This is a custom pane toolbar. </span>
        <span>Showing {{itemsList.itemsTotalCount}} | Searching for: "{{searchTerm}}"</span>
    </ng-template>

    <!-- Pane Footer -->
    <ng-template hc-pane-footer-tmp let-itemsList="itemsList" let-searchTerm="searchTerm">
        <span class="template-callout">This is a custom pane footer.</span>
        (Selected {{itemsList.selectedItems.length?.toLocaleString() || 0}})
    </ng-template>

     <!-- Group header template -->
    <ng-template hc-pick-optgroup-tmp let-item="item">
        <div class="group-row"><span class="group-name">{{ item.type }}</span><span class="template-callout">This is a custom group template.</span></div>
    </ng-template>

    <!-- Individual option template -->
    <ng-template hc-pick-option-tmp let-item="item" let-selected="hcOption.selected" let-search="searchTerm">
        <div class="opt-row" [class.opt-row-selected]="selected">
            <div>{{ item.name }}</div>
            <span class="template-callout">This is a custom option template.</span>
        </div>
    </ng-template>

    <!-- Custom Item template -->
    <ng-template hc-pick-custom-item-tmp let-search="searchTerm">
        <div class="opt-row custom-item">
            <div>Add new animal option: {{search}}</div>
            <span class="template-callout">This is a custom item template.</span>
        </div>
    </ng-template>
</hc-picklist2>

<br>

<br/>Selected: {{ selected.value | json }}